<%= vite_javascript_tag 'apps' %>

<%= form_for AtticApp.new, as: :app, url: apps_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div id='react-root'></div>

  <%= f.button :submit %>
<% end %>


